footer {
    text-align: center;
    margin-top: 6rem;
    font-size: 1rem;
    color: #888;
    padding: 3rem 1rem;
    background-color: var(--card-bg-color);
}

footer a {
    color: var(--secondary-gold);
    text-decoration: none;
    transition: color 0.2s ease;
}

footer a:hover {
    text-decoration: none;
    color: var(--primary-gold);
}
